# Environment files
.env
.env.*
!/.env.example 

# Dependencies
node_modules/

# Build output
dist/
build/

# Logs
*.log
npm-debug.log*
logs/

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
